APP_NAME=Nodus
ADDR=:8888
SHUTDOWN_TIMEOUT=30s
LOG_LEVEL=info
YTDLP_TEMP_DIR=./tmp/ytdlp
YTDLP_MAX_DURATION_SECS=0
YTDLP_MAX_FILE_BYTES=0
YTDLP_CURRENTLY_LIVE_AVAILABLE=false
YTDLP_PLAYLIST_AVAILABLE=false
YTDLP_USE_JS_RUNTIME=true
